body {
  font-family: Roboto;
  font-weight: 300;
}
h1 {
  font-family: "Titillium Web";
  font-weight: 200;
}
h2 {
  font-family: "Titillium Web";
  font-weight: 200;
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 17px;
}
h3 {
  font-family: "Roboto";
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(70, 70, 70, 100);
  font-size: 15px;
  letter-spacing: 0.5px;
  margin-bottom: 0px;
  margin-top: 8px;
}
hr {
  border: solid 0.5px;
  /* height: 20px; */
  width: 40%;
  margin-top: 20px;
  margin-bottom: 25px;
  color: rgb(180, 180, 180);
  /* background-image: linear-gradient(
    to right,
    rgba(201, 201, 201, 0),
    rgba(150, 150, 150, 75),
    rgba(150, 150, 150, 0)
  ); */
}
a {
  color: #ff6347;
}
a:hover {
  text-decoration: none;
}
.textnormal {
  color: rgb(255, 98, 71);
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.textnormal:hover {
  background-color: rgb(255, 98, 71);
  color: white;
}
/* NAVIGATION */
.badge-primary {
  background-color: rgb(255, 255, 255);
  color: #ff6347;
  font-weight: 400;
}
.badge-primary:hover {
  color: white;
  background-color: rgb(255, 98, 71);
}
/* TAG voll */
.badge-danger {
  background-color: rgb(255, 98, 71);
  font-weight: 400;
  letter-spacing: 0.5px;
}
.badge-danger:hover {
  background-color: rgba(255, 98, 71, 0.65);
}
/* TAG halb */
.badge-success {
  background-color: rgba(255, 98, 71, 0.65);
  font-weight: 400;
  letter-spacing: 0.5px;
  color: white;
}
.badge-success:hover {
  background-color: rgb(255, 98, 71);
}
/* SOCIAL ICONS von Fontawesome */
.fab {
  color: rgba(255, 98, 71, 0.65);
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.fab:hover {
  color: rgba(255, 98, 71, 0.65);
  background-color: white;
}
.icongross {
  font-size: 5em;
}
.textmarker {
  background-color: rgba(255, 99, 71, 0.65);
  color: white;
  display: inline-block;
  line-height: 17px;
}
.textsocial {
  color: black;
  font-family: "Titillium Web";
  font-weight: 200;
  font-size: 21px;
}
.textsocial:hover {
  color: #ff6347;
  background-color: white;
}
